<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <hr>
        <h1 class="title">Perguntas</h1>
        <a href="/perguntar" class="btn btn-main">Perguntar</a>
        <hr>
        <% perguntas.forEach(pergunta => { %>
            <br>
            <div class="card">                       
                    <div class="card-body">
                        <h3 class="title-ask"><%= pergunta.titulo %></h3>
                    </div>
                    <div class="card-footer">
                        <a href="pergunta/<%= pergunta.id %>"<button class="btn">Responder</button></a><br><br>
                        <details class="view"><br>
                            <summary class="sum"></summary>
                            <br>
                            <% response.forEach(id => { %>
                               <% if(id.idAsk == pergunta.id) { %>
                                    <p class="text-Id p-index"><%= id.body %></p>
                               <% } %>
                            <% }) %>
                        </details>
                    </div>
            </div>  
        <% }) %>

    </div>
</body>
<%- include('partials/footer') %>


